<div data-w-id="52602f76-9c80-81bf-9e6e-e820b59bf198" data-animation="default" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navbar-component w-nav">
    <div class="container-large">
      <div class="navbar-container">
        <div class="navbar-logo-link-wrapper">
          <a href="index.html" aria-current="page" class="navbar-logo-link w-nav-brand w--current"><img src="images/Brand.svg" loading="lazy" alt="" class="navbar-logo"></a>
        </div>
        <nav role="navigation" class="navbar-menu w-nav-menu">
          <div class="navbar-menu-left">
            <a href="https://beauticotemplate.webflow.io/product/soft" class="navbar-link w-nav-link">Products</a>
            <a href="about.html" class="navbar-link w-nav-link">Story</a>
            <a href="blog.html" class="navbar-link w-nav-link">Blog</a>
            <div data-hover="false" data-delay="300" data-w-id="52602f76-9c80-81bf-9e6e-e820b59bf1a3" class="navbar-menu-dropdown w-dropdown">
              <div class="navbar-dropdown-toggle w-dropdown-toggle">
                <div>Collections</div>
                <div class="icon-xsmall">expand_more</div>
              </div>
              <nav class="navbar-dropdown-list w-dropdown-list">
                <div class="navbar-container">
                  <div class="container-large">
                    <div class="navbar-dropdown-content w-dyn-list">
                      <div role="list" class="navbar-dropdown-content-left w-dyn-items">
                        <div role="listitem" class="w-dyn-item">
                          <div class="navbar-dropdown-link-list">
                            <a href="#" class="navbar-dropdown-link w-inline-block">
                              <div id="w-node-_52602f76-9c80-81bf-9e6e-e820b59bf1af-b59bf198" class="navbar-icon-wrapper"><img src="" loading="lazy" alt="" class="megamenu-image"></div>
                              <div class="navbar-item-right">
                                <div class="text-weight-semibold text-color-neutral-900"></div>
                                <p class="text-size-small"></p>
                              </div>
                            </a>
                          </div>
                        </div>
                      </div>
                      <div class="w-dyn-empty">
                        <div>No items found.</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="navbar-bottom-bar">
                  <div class="navbar-bottom-bar-background"></div>
                  <div class="navbar-bottom-bar-content">
                    <div class="text-size-small text-weight-medium">Explore all our products. <a href="https://beauticotemplate.webflow.io/category/all-products" class="text-style-link banner">Shop now</a>
                    </div>
                  </div>
                </div>
              </nav>
            </div>
            <a href="contact.html" class="navbar-link w-nav-link">Contact</a>
            <a href="account-pages/sign-up.html" class="button dropdown w-button">Subscribe</a>
          </div>
        </nav>
        <div class="navbar-menu-right">
          <div data-node-type="commerce-cart-wrapper" data-open-product="" data-wf-cart-type="rightSidebar" data-wf-cart-query="" data-wf-page-link-href-prefix="" class="w-commerce-commercecartwrapper cart">
            <a href="#" data-node-type="commerce-cart-open-link" class="w-commerce-commercecartopenlink button-secondary is-button-small w-inline-block">
              <div class="icon-tiny">shopping_bag</div>
              <div class="margin-left margin-tiny">
                <div class="w-inline-block">Cart</div>
              </div>
              <div style="display:none" data-count-hide-rule="always" class="w-commerce-commercecartopenlinkcount">0</div>
            </a>
            <div data-node-type="commerce-cart-container-wrapper" style="display:none" class="w-commerce-commercecartcontainerwrapper w-commerce-commercecartcontainerwrapper--cartType-rightSidebar">
              <div data-node-type="commerce-cart-container" class="w-commerce-commercecartcontainer cart-container">
                <div class="w-commerce-commercecartheader cart-header">
                  <h4 class="w-commerce-commercecartheading">Your Cart</h4>
                  <a href="#" data-node-type="commerce-cart-close-link" class="w-commerce-commercecartcloselink w-inline-block"><svg width="16px" height="16px" viewbox="0 0 16 16">
                      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g fill-rule="nonzero" fill="#333333">
                          <polygon points="6.23223305 8 0.616116524 13.6161165 2.38388348 15.3838835 8 9.76776695 13.6161165 15.3838835 15.3838835 13.6161165 9.76776695 8 15.3838835 2.38388348 13.6161165 0.616116524 8 6.23223305 2.38388348 0.616116524 0.616116524 2.38388348 6.23223305 8"></polygon>
                        </g>
                      </g>
                    </svg></a>
                </div>
                <div class="w-commerce-commercecartformwrapper">
                  <form data-node-type="commerce-cart-form" style="display:none" class="w-commerce-commercecartform">
                    <script type="text/x-wf-template" id="wf-template-52602f76-9c80-81bf-9e6e-e820b59bf1d2"></script>
                    <div class="w-commerce-commercecartlist cart-list" data-wf-collection="database.commerceOrder.userItems" data-wf-template-id="wf-template-52602f76-9c80-81bf-9e6e-e820b59bf1d2"></div>
                    <div class="w-commerce-commercecartfooter cart-footer">
                      <div class="w-commerce-commercecartlineitem cart-line-item">
                        <div class="text-size-medium">Subtotal</div>
                        <div class="w-commerce-commercecartordervalue text-size-medium text-weight-semibold"></div>
                      </div>
                      <div>
                        <div data-node-type="commerce-cart-quick-checkout-actions">
                          <div class="margin-bottom margin-xxsmall">
                            <a role="button" tabindex="0" aria-label="Apple Pay" aria-haspopup="dialog" data-node-type="commerce-cart-apple-pay-button" style="background-image:-webkit-named-image(apple-pay-logo-white);background-size:100% 50%;background-position:50% 50%;background-repeat:no-repeat" class="w-commerce-commercecartapplepaybutton apple-pay">
                              <div></div>
                            </a>
                          </div>
                          <a role="button" tabindex="0" aria-haspopup="dialog" data-node-type="commerce-cart-quick-checkout-button" style="display:none" class="w-commerce-commercecartquickcheckoutbutton"><svg class="w-commerce-commercequickcheckoutgoogleicon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16" viewbox="0 0 16 16">
                              <defs>
                                <polygon id="google-mark-a" points="0 .329 3.494 .329 3.494 7.649 0 7.649"></polygon>
                                <polygon id="google-mark-c" points=".894 0 13.169 0 13.169 6.443 .894 6.443"></polygon>
                              </defs>
                              <g fill="none" fill-rule="evenodd">
                                <path fill="#4285F4" d="M10.5967,12.0469 L10.5967,14.0649 L13.1167,14.0649 C14.6047,12.6759 15.4577,10.6209 15.4577,8.1779 C15.4577,7.6339 15.4137,7.0889 15.3257,6.5559 L7.8887,6.5559 L7.8887,9.6329 L12.1507,9.6329 C11.9767,10.6119 11.4147,11.4899 10.5967,12.0469"></path>
                                <path fill="#34A853" d="M7.8887,16 C10.0137,16 11.8107,15.289 13.1147,14.067 C13.1147,14.066 13.1157,14.065 13.1167,14.064 L10.5967,12.047 C10.5877,12.053 10.5807,12.061 10.5727,12.067 C9.8607,12.556 8.9507,12.833 7.8887,12.833 C5.8577,12.833 4.1387,11.457 3.4937,9.605 L0.8747,9.605 L0.8747,11.648 C2.2197,14.319 4.9287,16 7.8887,16"></path>
                                <g transform="translate(0 4)">
                                  <mask id="google-mark-b" fill="#fff">
                                    <use xlink:href="#google-mark-a"></use>
                                  </mask>
                                  <path fill="#FBBC04" d="M3.4639,5.5337 C3.1369,4.5477 3.1359,3.4727 3.4609,2.4757 L3.4639,2.4777 C3.4679,2.4657 3.4749,2.4547 3.4789,2.4427 L3.4939,0.3287 L0.8939,0.3287 C0.8799,0.3577 0.8599,0.3827 0.8459,0.4117 C-0.2821,2.6667 -0.2821,5.3337 0.8459,7.5887 L0.8459,7.5997 C0.8549,7.6167 0.8659,7.6317 0.8749,7.6487 L3.4939,5.6057 C3.4849,5.5807 3.4729,5.5587 3.4639,5.5337" mask="url(#google-mark-b)"></path>
                                </g>
                                <mask id="google-mark-d" fill="#fff">
                                  <use xlink:href="#google-mark-c"></use>
                                </mask>
                                <path fill="#EA4335" d="M0.894,4.3291 L3.478,6.4431 C4.113,4.5611 5.843,3.1671 7.889,3.1671 C9.018,3.1451 10.102,3.5781 10.912,4.3671 L13.169,2.0781 C11.733,0.7231 9.85,-0.0219 7.889,0.0001 C4.941,0.0001 2.245,1.6791 0.894,4.3291" mask="url(#google-mark-d)"></path>
                              </g>
                            </svg><svg class="w-commerce-commercequickcheckoutmicrosofticon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewbox="0 0 16 16">
                              <g fill="none" fill-rule="evenodd">
                                <polygon fill="#F05022" points="7 7 1 7 1 1 7 1"></polygon>
                                <polygon fill="#7DB902" points="15 7 9 7 9 1 15 1"></polygon>
                                <polygon fill="#00A4EE" points="7 15 1 15 1 9 7 9"></polygon>
                                <polygon fill="#FFB700" points="15 15 9 15 9 9 15 9"></polygon>
                              </g>
                            </svg>
                            <div>Pay with browser.</div>
                          </a>
                        </div>
                        <a href="checkout.html" value="Continue to Checkout" data-node-type="cart-checkout-button" class="w-commerce-commercecartcheckoutbutton button" data-loading-text="Hang Tight...">Continue to Checkout</a>
                      </div>
                    </div>
                  </form>
                  <div class="w-commerce-commercecartemptystate">
                    <div>No items found.</div>
                  </div>
                  <div style="display:none" data-node-type="commerce-cart-error" class="w-commerce-commercecarterrorstate">
                    <div class="w-cart-error-msg" data-w-cart-quantity-error="Product is not available in this quantity." data-w-cart-general-error="Something went wrong when adding this item to the cart." data-w-cart-checkout-error="Checkout is disabled on this site." data-w-cart-cart_order_min-error="The order minimum was not met. Add more items to your cart to continue." data-w-cart-subscription_error-error="Before you purchase, please use your email invite to verify your address so we can send order updates.">Product is not available in this quantity.</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <a href="https://webflow.com/templates/html/beautico-beauty-website-template" class="button is-button-small hide-tablet w-button">Buy this template</a>
          <div class="navbar-menu-button w-nav-button">
            <div class="menu-icon">
              <div class="menu-icon-line-top"></div>
              <div class="menu-icon-line-middle">
                <div class="menu-icon-line-middle-inner"></div>
              </div>
              <div class="menu-icon-line-bottom"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>