 <!-- UNE CARTE PRODUIT -->
 <div role="listitem" class="card w-dyn-item">
    <a href="#" class="home-product-image-wrapper w-inline-block">
      <!-- IMAGE DU PRODUIT ICI -->
      <img src="" loading="lazy" alt="" class="home-product-image">
    </a>
    <!-- PARTIE INFO DE PRODUIT -->
      <div class="home-product-content-wrapper">
        <div class="home-product-content">
          
          <div class="home-product-row">
            <a href="#" class="heading-xsmall">NOM DU PRODUIT</a>
            <div class="home-product-price">
              <div class="text-weight-medium">PRIX DU PRODUIT FCFA</div>
            </div>
          </div>

          <div class="text-size-small">PETITE PHRASE DESCRIPTIF</div>
        </div>
        <div class="margin-top margin-small">
          <a href="#" class="button-secondary max-width-full w-button">Voir plus</a>
        </div>
      </div>
    <!-- FIN -->
  </div>
<!-- FIN -->