<section class="section-home-product">
    <div class="page-padding">
      <div class="container-large">
        <div class="padding-bottom padding-large">
          <div class="margin-bottom margin-xxlarge">
            <div class="container-small">
              <div class="text-align-center z-index-1">
                <div class="margin-bottom margin-xsmall">
                  <div class="tagline">Best sellers</div>
                </div>
                <h2>The most trusted products by our customers</h2>
              </div>
            </div>
          </div>
          <div class="w-dyn-list">
            <div role="list" class="home-product-list w-dyn-items"> 
                 <!-- CARTES PRODUIT ICI -->
                <!-- FIN -->
            </div>
            <div class="w-dyn-empty">
              <div>No items found.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>